.fastq
.sra
.fastq.gz
*.natt
*.nuc
*.patt
*.pep
*.pseudo
*.txt
*.log
*.fasta
*.input
*.nhr
*.nin
*.nsq
*.att
*.blast
*.list
*.RDS
*.bak
*.rds
*.abundance.*
*.idx
*.gbff
*.RData
*.run_info.json
*.Rhistory
